<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('assets/9uuu2f3fnf2moy5p.jpg');
      background-size: cover;
    }

    .container {
      margin-top: 100px;
    }

    .card {
      width: 400px;
      margin: 0 auto;
    }

    .footer {
      background-color: #ffffff;
      text-align: center;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/realestateindia-icon.png" alt="Logo" height="30" width="144">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/signup">Not a Member? Register Now</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Admin</h5>
        <form (ngSubmit)="Admin(adminName.value, adminPassword.value)">
          <div class="form-group">
            <label for="adminName">Name</label>
            <input type="text" class="form-control" id="adminName" name="adminName" required #adminName>
          </div>
          <div class="form-group">
            <label for="adminPassword">Password</label>
            <input type="password" class="form-control" id="adminPassword" name="adminPassword" required #adminPassword>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </form>
        <p class="text-center mt-3 mb-0">Not a Member yet?<a href="#" class=" btn-link">Join for Free</a></p>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">© 2023 Your Company. All rights reserved.</span>
    </div>
  </footer>
</body>
</html>

