.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    max-width: 800px;
    width: 100%;
    background: linear-gradient(135deg, #cdcbe1, #4ECDC4);
}
  
  .card-body {
    padding: 60px;
  }
  